@model Werewolf.Models.ViewModel.PlayViewModel;
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //Pick the SELECTED OPTION
    var userVotedId = "";
    if (Model.Vote != null)
    {
        if (Model.Vote.UserVotedId != null)
        {
            userVotedId = Model.Vote.UserVotedId;
        }
    }
}

<div class="row">

    <div class="col-md-3">
        <!--  PLAYER  SECTION  -->
        <partial name="_CharacterCardPartial" model="@Model.Character" />

        <!--  NEXT TURN SECTION  -->
        <a data-gameid="@Model.Character.GameId" class="btn btn-outline-danger btn-block btn-lg text-danger vote-btn @(Model.Character.Game.IsNextTurnReady == false ? "disabled" : "")" id="nextTurn" style="cursor: pointer;">@(Model.Character.Game.IsNextTurnReady == false ? "...Waiting For Votes" : "Next Turn")</a>
    </div>

    <div class="col-md-9">
        <div class="row">
            <!--  VOTE SECTION  -->
            <div class="container d-flex">
                <div class="h4 text-info mb-0 align-self-center">
                    The @Model.Character.Game.TurnType
                </div>

                @if (Model.Character.Game.TurnType == SD.Night)
                {
                    //NIGHT
                    if (Model.Character.Role == SD.Werewolf)
                    {
                        //WEREWOLF
                        <div class="ml-auto h4 text-secondary align-self-center mb-0 text-right">
                            Werewolve, pick someone to kill.
                        </div>
                        <div class="ml-auto">
                            <select data-gameid="@Model.Character.GameId" data-role="@Model.Character.Role" data-currentvoteuserid="@(Model.Vote == null ? string.Empty : Model.Vote.UserVotedId)" id="@(Model.Vote == null ? 0 : Model.Vote.Id)" asp-items="Model.VoteList.ToSelectListItems(userVotedId)" class="form-control form-control-lg">
                                <option selected value="  "> -- select an option -- </option>
                            </select>
                        </div>
                    }
                    else if (Model.Character.Role == SD.Doctor)
                    {
                        //DOCTOR
                        <div class="ml-auto h4 text-secondary align-self-center mb-0 text-right">
                            Doctor, who would you like to heal?
                        </div>
                        <div class="ml-auto">
                            <select data-gameid="@Model.Character.GameId" data-role="@Model.Character.Role" data-currentvoteuserid="@(Model.Vote == null ? string.Empty : Model.Vote.UserVotedId)" id="@(Model.Vote == null ? 0 : Model.Vote.Id)" asp-items="Model.VoteList.ToSelectListItems(userVotedId)" class="form-control form-control-lg">
                                <option selected value="  "> -- select an option -- </option>
                            </select>
                        </div>

                    }
                    else if (Model.Character.Role == SD.Seer)
                    {
                        //SEER
                        <div class="ml-auto h4 text-secondary align-self-center mb-0 text-right">
                            Seer, pick someone to ask about.
                        </div>
                        <div class="ml-auto">
                            <select data-gameid="@Model.Character.GameId" data-role="@Model.Character.Role" data-currentvoteuserid="@(Model.Vote == null ? string.Empty : Model.Vote.UserVotedId)" id="@(Model.Vote == null ? 0 : Model.Vote.Id)" asp-items="Model.VoteList.ToSelectListItems(userVotedId)" class="form-control form-control-lg">
                                <option selected value="  "> -- select an option -- </option>
                            </select>
                        </div>
                    }
                }
                else
                {
                    //DAY
                }
            </div>
        </div>

        <div class="row">
            <!--  OPPONENT SECTION  -->
            @foreach (var oppenent in Model.Opponents)
            {
                OpponentCardViewModel OpponentCardVm = new OpponentCardViewModel()
                {
                    Opponent = oppenent,
                    CharacterRole = Model.Character.Role,
                    Note = Model.Notes.FirstOrDefault(c => c.OpponentId == oppenent.ApplicationUserId),
                    VoteCasted = Model.VoteCasted
                };

                //var note = Model.Notes.FirstOrDefault(c => c.OpponentId == oppenent.ApplicationUserId);

                //OpponentCardVm.Note = note == null ? "" : note.Message;

                <div class="col-md-6 col-lg-4">
                    <partial name="_OpponentsCardPartial" model="@OpponentCardVm" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/note.js" asp-append-version="true"></script>

    <script src="~/js/vote.js" asp-append-version="true"></script>

    <script src="~/js/nextTurn.js" asp-append-version="true"></script>
}