@model Werewolf.Models.GameUser;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var url = "/img/" + Model.Role + ".png";
}
<div class="col-md-4 m-3" id="gameListTable">
    <div class="card">
        <div class="card-header">
            <div class="card-title mb-0 text-center h4 text-primary">
                @Model.Game.Name
            </div>
        </div>
        <div class="d-flex">
            <img src="@url" alt="" class="card-img img-fluid w-75 m-auto" />
        </div>
        <div class="card-body">
            <p class="lead text-muted">Role: <strong class="text-info">@Model.Role</strong></p>
            <p class="lead text-muted">Status: <strong class="text-info">@(Model.IsAlive == true ? "Alive" : "Dead")</strong></p>
            <p class="lead text-muted">Turn: <strong class="text-info">@Model.Game.Turn</strong></p>
        </div>
        <div class="card-footer">
            <a class="btn btn-outline-primary btn-block text-primary">Play</a>
        </div>
    </div>
</div>