@model Werewolf.Models.ViewModel.OpponentCardViewModel;
@using Werewolf.Utility;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string url, id;

    if (Model.CharacterRole == SD.Werewolf && Model.Opponent.Role == SD.Werewolf)
    {
        url = "/img/" + Model.Opponent.Role + ".png";
    }
    else
    {
        url = "/img/Villager.png";
    }

    id = Model.Note == null ? id = "" : id = Model.Note.Id.ToString();

}

<div class="card my-3">
    <div class="card-header">
        <div class="card-title mb-0 text-center h4 text-primary">
            @Model.Opponent.ApplicationUser.Name
        </div>
    </div>
    <div class="d-flex">
        <img src="@url" alt="" class="card-img img-fluid w-75 m-auto" />
    </div>
    <div class="card-body">
        <p class="lead text-muted">Status: <strong class="text-info">@(Model.Opponent.IsAlive == true ? "Alive" : "Dead")</strong></p>
        <p class="lead text-muted">Vote Received: <strong class="text-info">(0)</strong></p>
        <p class="lead text-muted mb-1">Notes:</p>
        <textarea class="form-control note-text" data-gameid="@Model.Opponent.GameId" data-opponentId="@Model.Opponent.ApplicationUserId" asp-for="Note.Message" id="@id" rows="2"></textarea>
    </div>
</div>